
	h1 {font-size:16pt}
	h1 span {color:blue}

	h2 {font-size:12pt;margin:0;padding:0;border-bottom:thin solid gray;}

	h3 {font-size:12pt;margin:0;padding:0;border-bottom:thin solid gray;}

	div.heading {}
	div.heading h1 {font-size:16pt}
	div.heading h1 span {color:blue}
	div.heading table {width:100%;font-size:9pt;}
	span.date {font-size:9pt;color:gray}

	div.download { padding:5px;}

	div.notes { padding:5px;}
	div.notes ul {margin:0;font-size:10pt;}
	div.notes .version {margin-left:5px;font-size:11pt;margin-top:10px;}

	div.usage {border:none;margin:10px;background-color:#dddddc;padding:5px;}

	div.javascript { background-color: #c3e0f9; border: 1px solid #8fc3f1; font-family:Arial; font-size:10pt; width:95%; margin-top:10px; margin-bottom:10px; padding:5px;}
	div.javascript pre {
		margin:0;
		padding:0;
		background:none;
		border:none;
		white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
		white-space: -pre-wrap; /* Opera 4 - 6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
		word-wrap: break-word; /* IE 5.5+ */
	}

	div.html { background-color: #e0f8bf; border: 1px solid #c4ef8a; font-family:Arial; font-size:10pt; width:95%; margin-top:10px; margin-bottom:10px; padding:5px;}
	div.html pre {
		margin:0;
		padding:0;
		background:none;
		border:none;
		white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
		white-space: -pre-wrap; /* Opera 4 - 6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
		word-wrap: break-word; /* IE 5.5+ */
	}

	span.linked {color:blue;cursor:pointer;}
	span.linked:hover {text-decoration:underline;}

	div.example {padding:0; font-size:11pt; margin-left:20px;margin-top:20px;}
	div.example h3 {font-size:14pt;color:#2d2f98}

	#releaseNotes ul {margin:0;}

	#yahooFeed {list-style:none}
    .yahooSportsEntry {padding: 5px 5px 5px 0;font-size:13px;}
	.yahooSportsEntry .thumbnail {float: left;margin-bottom: 3px;margin-right: 8px;position: relative;}
	.yahooSportsEntry .thumbnail img {border:none; height: 50px; position: static; width: 50px;}
	.yahooSportsEntry .text {margin-left: 0px;}
	.yahooSportsEntry .title { font-size: inherit; font-weight: bold; padding-bottom: 3px; width: 100%;}
	.yahooSportsEntry .description {letter-spacing: normal;word-spacing: normal;}
	.yahooSportsEntry .description img {display:none}

    .googleCalendarEntry a div {display:inline;}
	.googleCalendarEntry span {margin-left:2px;}

	#flickrImages ul {list-style:none;}
	.flickrImage {display:block;height:55px;}
    .flickrImage .image {float:left;position:relative;}
	.flickrImage .image img {width:50px;height:50px;position:static;}
	.flickrImage .text {margin-left:55px;}

	#twitterFeed {font:13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;list-style:none;}

	.twitterFeed {border-bottom: 1px solid #EBEBEB;clear: both; display: block; min-height: 60px; outline: medium none; position: relative; padding:10px;}
	.twitterFeed:hover {background-color:rgba(0,132,180,0.1);border-color:rgba(0,132,180,0.1);}
	.twitterFeed .user {margin-left:60px;}
	.twitterFeed .user a {color:#333333;font-size:15px;font-weight:bold;text-decoration:none;}
	.twitterFeed .user a:hover {color:#0084B4;text-decoration:underline;}
	.twitterFeed .user span {color:#999999;font-size:12px;margin-left:5px;}
	.twitterFeed .text {font-family: Arial,"Helvetica Neue",sans-serif;line-height: 19px;padding: 0;font-size:15px;margin-left:63px;}
	.twitterFeed .date {color:gray;font-size:9px;margin-left:60px;}

	div.twitterFeed .source {float:right;margin-right:5px;color:gray;font-size:9px;display:inline;}

	.barChart ul {list-style:none;}
	.barChart li {display:inline-block;padding:5px;}
	.barChart .group {}
	.barChart .label {text-align:center;}
	.barChart .bar {width:50px;background-color:blue;}